/* CSS COLOR SCHEME HEX
--jordy-blue: #92b4f4ff;
--columbia-blue: #cfdee7ff;
--delft-blue: #2f3061ff;
--umber: #6c5a49ff;
--gold-metallic: #c8ad55ff; */

/* ::before
    Creates a pseudo-element that is the first child of the selected element.

::after
    Creates a pseudo-element that is the last child of the selected element. */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body#loginBody{
    background: url('../images/warehouse_background.jpg') no-repeat center center fixed;
    background-size: cover; /*resize the background image to cover the entire container, even if it stretches or cuts the image*/
}

body{
    font-family: arial;
}

div.loginHeader{
    text-align: center;
    margin-bottom: 60px;
}

div.loginHeader h1{
    font-size: 100px;
    font-weight: bold;
    color: #2F3061;
    padding: 0px;
    margin: 0px;
}

div.loginHeader p{
    font-size: 80px;
    color: #92B4F4;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}

div.loginHeader p:after{ /*":after" generates immediate child of originating element, often used to add cosmetic content */
    content:'';
    display: block;
    height: 5px;
    background: #92B4F4;
    margin: 0 auto;
}

div.loginBody form{
    margin: 0 auto;
    width: 450px;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border: 2px solid white;
    border-radius: 8px;
}

div.loginInputContainer{
    margin: 30px;
}

div.loginInputContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

div.loginInputContainer input{
    height: 25px;
    width: 100%;
    border: 2px solid #92B4F4;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}

div.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 40px;
    background: #92B4F4;
    border: none;
    color: white;
}

div.header{
    width: 100%;
    padding: 10px 0px;
    background: #92b4f4;
    text-align: right;
}

div.header a{
    font-size: 20px;  
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
}

div.header a:hover{
    border: 2px solid white;
    border-radius: 5px;
}

div.banner{
    background: url('../images/warehouse_banner.jpg') no-repeat center center fixed;
    background-size: cover;   
    padding-top: 100px;
    padding-bottom: 100px;
 /*vh allows you to size elements relative to height of the browser window; vh=viewport height*/
}

div.homepageContainer{
    width: 100%;
    /* height: 70vh; */
    max-width: 1000px;
    margin: 0 auto;
}

div.bannerHeader h1{
    font-size: 100px;
    color: #92b4f4;
    line-height: 100%;
}

div.bannerHeader p{
    font-size: 40px;
    color: #92b4f4;
    text-transform: uppercase;
    /* margin-top: -30px; */
}

p.bannerTagline{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

div.bannerIcons{
    margin-top: 150px;
}

div.bannerIcons a{
    font-size: 23px;
    margin-left: 40px;
    padding: 7px 15px;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: inline-block;
}

div.bannerIcons a:first-child{
    margin-left: 0px;
}

div.bannerIcons a:hover{
    color: white;
    background: #92b4f4;
    font-size: 25px;
    transition: 0.5s all;
}

div.homepageFeatures{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}

div.homepageFeature{
    padding: 10px 20px;
    text-align: center;
    width: 33.3%;
}

div.homepageFeature:hover{
    border-top: 2px solid #92b4f4;
    border-bottom: 2px solid #92b4f4;
    transition: 0.5s all;
}

div.homepageFeature span.featureIcon{
    width: 80px;
    height: 80px;
    font-size: 50px;
    background: #92b4f4;
    color: white;
    display: inline-block;
    padding-top: 5px;
    border-radius: 50%;
    margin-bottom: 20px;
}

div.homepageFeature h3.featureTitle{
    margin-bottom: 20px;
    font-size: 25px;
}

div.homepageFeature p.featureDescription{
    color: gray;
    font-size: 18px
}

div.homepageNotified{
    background: lightgray;
    padding: 50px 0px;
}

div.homepageNotifiedContainer > div{
    width: 50%;
}

div.emailForm h3{
    font-size: 25px;
}

div.emailForm{
    width: 40%;
}

div.video{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

div.homepageNotifiedContainer{
    display: flex;
    flex-direction: row;
}

div.homepageNotified h3 {
    margin-bottom: 20px;
}

div.homepageNotified p{
    color: gray;
    line-height: 150%;
    margin-bottom: 30px;
}

div.formContainer{
    width: 80%;
    position: relative;
    border-radius: 50%;
}

div.formContainer input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 15px;
    border: none;
}

div.formContainer input:focus{ /*The :focus CSS pseudo-class represents an element (such as a form input) that has received focus. It is generally triggered when the user clicks or taps on an element or selects it with the keyboard's Tab key.*/
    outline: none; /*line drawn around elements*/
}

div.formContainer button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: #2F3061;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.video{
    width: 100%;
}

iframe{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

div.socials{
    text-align: center;
    padding: 70px 0 30px 0;
}

h3.socialHeader{
    font-size: 30px;
}

div.socialText{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

div.socialIconsContainer a{
    font-size: 23px;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-top: 7px;
    background: lightgray;
    border-radius: 50%;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

div.socialIconsContainer a:hover{
    background: #92b4f4;
    transition: 0.3s all;
}

div.footer{
    padding-top: 80px;
    padding-bottom: 80px;
    background: lightgray;
    text-align: center;
}

div.footer a{
    color: gray;
    margin-left: 30px;
    text-decoration: none;
}

div.footer a:hover{
    font-weight: bold;
    color: #92b4f4;
    transition: 0.5s all;
}